<template>
  <section class="container">
    <div>
      <app-logo />
      <h1 class="title">src</h1>
      <h2 class="subtitle">client</h2>
      <div class="links">
        <a href="https://nuxtjs.org/" target="_blank" class="button--green">Documentation</a>
        <a href="https://github.com/nuxt/nuxt.js" target="_blank" class="button--grey">GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import AppLogo from "~/components/AppLogo.vue";

export default {
  data() {
    return {
      formUsername: "vlad@gmail.com",
      formPassword: "pass"
    };
  },
  components: {
    AppLogo
  },
  mounted() {
    try {
      this.$store.dispatch("login", {
        username: this.formUsername,
        password: this.formPassword
      });
      this.formUsername = "";
      this.formPassword = "";
      this.formError = null;
    } catch (e) {
      this.formError = e.message;
    }

    // let token = this.$auth.loginWith("local", {
    //   data: {
    //     username: "vlad@gmail.com",
    //     password: "pass"
    //   }
    // });
    // .then(() => this.$toast.success('User set!'))
    //   console.log(this.$auth);
    // Update token
    // this.$auth.setToken('local', 'qwertyu2353f4gf34');
  }
};
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>

